body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: #0b6d96;
    background: url('../img/body_bck.jpg') no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
p,
span,
b {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    vertical-align: middle;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 28px;
}

/*шапка*/

header {
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

nav {
    min-height: 40px;
}

.nav-menu {
    display: inline-block;
}

.nav-menu li {
    box-sizing: content-box;
    display: inline-block;
    margin-right: 25px;
    padding: 10px 5px;
    letter-spacing: 1.5px;
    border: 3px solid transparent;
}

.nav-menu li:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    background-color: #0a749c;
}

.header_content {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #658a99;
    padding-top: 19px;
}



.sublogo {
    position: relative;
    width: 150px;
    margin-left: 100px;
    margin-right: 72px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-transform: uppercase;
    color: #7fa2b0;
}

.sublogo::before {
    position: absolute;
    content: "";
    width: 96px;
    height: 108px;
    background: transparent url('../img/logo.png') no-repeat center center;
    top: -25px;
    left: -100px;
}

.btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: 18px 42px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #63a574;
}

.counter {
    display: block;
    width: 124px;
    height: 95px;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: transparent url('../img/bigbrackets.png') no-repeat center bottom;
}

.counter b {
    position: relative;
    font-size: 36px;
    font-weight: 800;
    line-height: 18px;
    color: #3583b5;
}

.counter b::before {
    position: absolute;
    content: "";
    background: transparent url('../img/bigbrackets.png') no-repeat center center;


}

.counter span {
    color: #3583b5;
}




.contacts {
    width: 196px;
}

/*основная часть */
main {
    background-color: #fff;
}

/*банер, возможно слайдер*/

.banner {
    width: 1090px;
    height: 340px;
    background: url('../img/banner_back.png') no-repeat right center;
    margin-bottom: 30px;
}

.banner_lead {
    width: 270px;
    min-height: 310px;
    padding-top: 30px;
    padding-left: 31px;

    background-color: #0b6d96;
    background: url('../img/bannerlead_bck.jpg') no-repeat center center;
    background-size: contain;
    color: #fff;
}

.banner_lead h2 {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    font-family: "Open Sans Condensed";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .7px;
    text-transform: uppercase;
}

.banner_lead p {
    display: inline-block;
    width: 240px;
    margin: 0;
    margin-bottom: 18px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.banner_lead .btn {
    padding: 10px 18px;
    color: #0b6d96;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/*боковая панель*/

aside {
    width: 300px;

}

.catalog {
    background-color: #9db5bf;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.catalog h3 {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f58e50;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding-left: 28px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.catalog li {
    padding: 0;
    margin: 0;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
}

.catalog li:hover {
    background-image: linear-gradient(to top, #8aa3ad 0%, #c6d6dd 100%);
}

.wiki {
    position: relative;
    background-color: #637982;
    margin-bottom: 30px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

.wiki a {
    display: block;
    width: 140px;
    padding: 36px 54px 36px 106px;
}

.wiki b {
    font-size: 18px;
}

.wiki a::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 42px;
    background: transparent url('../img/wiki.png') no-repeat center center;
    top: 34px;
    left: 30px;
}

.bestprice {
    position: relative;
    border: 1px solid #9db5bf;
    padding-top: 25px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.bestprice h3 {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #f58e50;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.bestprice p {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 29px;
    color: #658a99;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.bestprice img {
    margin-bottom: 48px;
}

.hot {
    position: absolute;
    width: 112px;
    height: 112px;
    bottom: 35px;
    left: 23px;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #f58e50;
    color: #ffffff;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 112px;
    text-transform: uppercase;
    text-align: center;
}

.map {
    width: 298px;
    height: 277px;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #9db5bf;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    background: url('../img/map.png') no-repeat center bottom;
}

.map h3 {
    margin: 0;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    background-color: #9db5bf;
}

.map::before {
    content: "";
    position: absolute;
    top: 123px;
    left: 120px;
    width: 59px;
    height: 67px;
    background: transparent url('../img/logo_white.png') no-repeat center center;
    background-size: cover;
}

/*статья */

.content {
    width: 752px;
    margin: 0;
    padding: 0;
    color: #658a99;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.content h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 11px;
}


.content h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 14px;
}

.illustration {
    float: left;
    width: 300px;
    min-height: 280px;
    margin: 7px 22px 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.illustration img {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.illustration span {
    display: block;
    width: 290px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 28px;

}

/*таблица*/
table {
    width: 100%;
    color: #658a99;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    border-collapse: collapse;
}

caption {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

th {
    padding-bottom: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    border-bottom: 2px solid #0b6d96;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #9db5bf;
}

.col1 {
    width: 49%;
    text-align: left;
    padding-left: 1px;
}

/* слайдеры*/

.offer {
    margin-bottom: 60px;
}

.offer h3 {
    text-align: center;
    background-color: #f58e50;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 42px;
}



.offer_slider {
    padding: 0 70px;
}

.offer_slider_item {
    width: 160px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #658a99;
    margin-right: 30px;
    display: inline-block;
}

.offer_slider_item:last-child {
    margin-right: 0;
}

.offer_slider_item p {
    display: block;
    width: 135px;
    margin: 0 auto;
}



..offer_slider_item img {
    margin: 0 auto;
    vertical-align: middle;
}

.partners {
    padding-bottom: 100px;
}

.partners_slider {
    padding: 0 70px;

}

.partners h3 {
    text-align: center;
    background-color: #9db5bf;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.partners_slider_item {

    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

.partners_slider_item:last-child {
    margin-right: 0;
}

/*футер*/
/*футер меню*/
.footer_nav {
    margin-bottom: 30px;
}

.footer_nav_menu {
    background-color: #9db5bf;

}

.footer_nav_menu {
    text-align: center;

}

.footer_nav_menu li {
    padding: 13px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

/*футер основная часть*/

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-bottom: 100px;
}

footer .sublogo {
    margin-left: 92px;
}

footer .sublogo::before {
    position: absolute;
    content: "";
    width: 81px;
    height: 92px;
    background: transparent url('../img/logo_footer.png') no-repeat center center;
    top: -22px;
    left: -90px;
}

footer .contacts {
    margin-right: 350px;
}

.phone {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: -0.4px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.address,
.mail {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.address b,
.mail b {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.12px;
}


.copyright {
    position: relative;
    width: 200px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.copyright a {
    text-decoration: underline;
    font-weight: 700;
}

.copyright::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 47px;
    background: transparent url('../img/brevis.png') no-repeat center center;
    left: -45px;
    top: -5px;
}
